{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<div class="title-container">
	<h1 class="title-h1">Cobertura de Entrega</h1>
	<small>{{ MENSAJE }}</small>
</div>
<div class="opcion-wrapper">
	<div style="margin-bottom: 20px;">
		<form method="GET" action="/menu/cobertura/local">
			<button class="btn btn-default">Editar Cobertura</button>
		</form>
	</div>
	<div style="display: flex;">
		<div>
			{% for local in LOCALES %}
				<h4 style="color: {{ local.COLOR }}">{{ local.SECTOR }} - {{ local.CIUDAD }}</h4>
			{% endfor %}
		</div>
		<div id="map" style="height: 100%; width: 100%;">
		</div>
	</div>
		
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbXSHu8u2uiu7O13orG95evbkL0PN_v1Q&callback=initMap"></script>
<script type="text/javascript" src="{% static 'js/Cobertura/cobertura.js' %}"></script>