{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/General/formulario.css' %}">
<div class="title-container">
	<h1 class="title-h1">Crear</h1>
	<small>{{ MENSAJE }}</small>
</div>
<div class="wrapper">
	<div class="input-main-container">
		<form action="" method="POST" id="form" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="TIPO" value="{{ TIPO }}">

			<div class="input-container">
				<h4>Nombre</h4>
				<input type="text" class="form-control input" name="NOMBRE">
			</div>
			<div class="input-container">
				<h4>Descripción</h4>
				<textarea class="form-control input" name="DESCRIPCION" row="3"></textarea>
			</div>
			{% if TIPO == "INGREDIENTE" %}
				<h4 style="margin: 20px 0px 0px;">Costos: </h4>
				<div style="display: flex;">
					{% for tamano in TAMANOS %}
						<div class="input-container" style="margin-right: 10px;">
							<h4 style="text-transform: lowercase;">{{ tamano.nombre }}</h4>
							<div style="display: flex;">
								<h5>$</h5>
								<input type="number" class="form-control input" name="COSTO_{{ tamano.nombre }}" style="margin: 0px 50px 0px 15px; width: 60px;">
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="input-container">
					<h4>Costo</h4>
					<input type="number" class="form-control input" name="COSTO">
				</div>
			{% endif %}
			<div class="input-container">
				<h4>Imagen</h4>
				<input type="file" class="form-control input" name="IMAGEN">
			</div>
			<div class="btn-container">
				<button type="button" class="btn btn-formulario" id="limpiarCampos-btn">Limpiar Campos</button>
				<button type="button" class="btn btn-formulario btn-guardar" id="guardar-btn">Guardar</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/Formulario/formulario.js' %}"></script>
