@font-face {
	font-family: 'Hand of Sean';
	src: url('../../fonts/Hand_Of_Sean_Demo.ttf') format('truetype');
}
body {
	background-image: url('../../img/fondo.png');
	background-size: cover;
}

form {
	display: contents;
	margin: 0px;
}
.btn-regresar {
	border: 2px solid gray;
	border-radius: 7px;
	font-size: 20px;
	color: darkgray;
	height: 45px;
}
.title-container {
	width: 100%;
	text-align: center;
}
.title-h1 {
	font-family: 'Hand of Sean';
}
.opcion-wrapper {
	margin: 5vh 18vw 70px;
}
.opcion-container-button {
	width: 200px;
	height: 200px;
	margin: 30px 20px;
	padding: 30px;
	border-radius: 100px;
	border: 2px solid;
	position: relative;
}
.opcion-container-button:hover {
	background-color: lightgray;
}
.opcion-container-button:focus {
	outline: 0px;
}
.opcion-aumentar-h3 {
	font-size: 120px;
    width: 136px;
    position: absolute;
    top: 24px;
    left: 34px;
}
.opcion-tittle-h3 {
	width: 136px;
	position: absolute;
	top: 195px;
	left: 30px;
	font-family: 'Hand of Sean';
	color: black;
}
.icono-menu {
	width: 100%;
	height: 100%;
}
.icono-objeto-btn {
	overflow: hidden;
}
.icono-objeto {
	width: 150%;
    margin: -35px 0px 0px -35px;
}

.agregar-btn {
	background-image: url('../../img/boton_agregar.png'); 
	background-size: cover;
	border: 1px solid #c0193b;
}

.rojo {
	border-color: #c0193b;
}
.verde {
	border-color: #00aa5b;
}
.amarillo {
	border-color: #c88f31;
}

