h4 {
	text-align: center;
}
.title-container {
	width: 100%;
}
.title-h2 {
	text-align: center;
}
.pedidos-wrapper {
	padding: 20px 20vw;
}
.pedidos-container {
	padding: 5px 10px;
	display: flex;
	border: 2px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
}