h3, h5 {
	margin: 0px 0px 3px 0px; 
}
.wrapper {
	width: 100%;
	padding: 30px 10vw;
}
.divisor {
	display: flex;
}
.bloque {
	margin: 5px;
	padding: 10px;
	width: 100%;
	border: 2px solid gray;
	border-radius: 7px;
}
.pedido-contianer {
	width: 400px;
	margin-left: 20px;
	padding: 5px 20px; 
}
.listado-container {
	margin-left: 10px;
	padding: 5px 20px;
	border-bottom: 1px solid gray; 
}
.ingrediente-contianer {
	margin-left: 5px;
	padding: 5px 20px;
}
.detalle-ingrediente-container {
	display: flex;
}