{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/General/ver_formulario.css' %}">
<div class="title-container">
	<h1 class="title-h1">Usuario</h1>
</div>
<div class="main-container">
	<div class="sub-container">
		<div class="sub2-container">
			<h4>Nombres</h4>
			<h5>{{ USUARIO.nombres }}</h5>
		</div>
		<div class="sub2-container">
			<h4>Apellidos</h4>
			<h5>{{ USUARIO.apellidos }}</h5>
		</div>
		<div class="sub2-container">
			<h4>Teléfono</h4>
			<h5>{{ USUARIO.telefono }}</h5>
		</div>
		<div class="sub2-container">
			<h4>Correo</h4>
			<h5>{{ USUARIO.correo }}</h5>
		</div>
		<div class="sub2-container">
			<h4>Cédula</h4>
			<h5>{{ USUARIO.cedula }}</h5>
		</div>
	</div>
</div>
