{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<div class="opcion-wrapper">
	<a class="btn-container" href="/menu/pedidos">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Pedidos</h3>
		</button>
	</a>
	<a href="/menu/componentes/INGREDIENTE">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Ingredientes</h3>
		</button>
	</a>
	<a href="/menu/componentes/ADICIONAL">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Adicionales</h3>
		</button>
	</a>
	<a href="/menu/componentes/BEBIDA">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Bebidas</h3>
		</button>
	</a>
	<a href="/menu/pizzas_tradicionales">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Pizzas Tradicionales</h3>
		</button>
	</a>
</div>
<div class="opcion-wrapper">
	<a href="/menu/combos_promocionales">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Combos</h3>
		</button>
	</a>
	<a href="/menu/local">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Locales</h3>
		</button>
	</a>
	<a href="/menu/cobertura">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Cobertura</h3>
		</button>
	</a>
	<a href="/menu/reclamos_sugerencias">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Reclamos & Sugerencias</h3>
		</button>
	</a>
	<a href="/menu/usuario">
		<button class="opcion-container-button">
			<h3 class="opcion-tittle-h3">Usuarios</h3>
		</button>
	</a>
</div>