{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<div class="title-container">
	<h1 class="title-h1">Pizzas Tradicionales</h1>
</div>
<div class="opcion-wrapper">
	<form method="GET" action="/menu/pizzas_tradicionales/nueva_pizza_tradicional">
		<button class="opcion-container-button">
			<h3 class="opcion-aumentar-h3">+</h3>
			<h3> </h3>
		</button>
	</form>
	{% for pizza_t in PIZZAS_T %}
		<a href="/menu/pizzas_tradicionales/ver/{{ pizza_t.id }}">
			<button class="opcion-container-button">
				<h3 class="opcion-tittle-h3">{{ pizza_t.pizza.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
</div>