@font-face {
	font-family: 'Hand of Sean';
	src: url('../../fonts/Hand_Of_Sean_Demo.ttf') format('truetype');
}

.subbarra-container {
	width: 100%;
	padding: 10px 0px;
	display: flex;
}
.seccion-container {
	padding: 0px 20px;
	margin-right: 20px;
	border-right: 5px solid gray;
}
.subbarra-h2 {
	margin: 15px 0px 0px;
	font-family: 'Hand of Sean';
}