{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<div class="title-container">
	<h1 class="title-h1">Componentes</h1>
</div>
<div class="opcion-wrapper">
	<form method="GET" action="/menu/componentes/nuevo_componente">
		<button class="opcion-container-button">
			<h3 class="opcion-aumentar-h3">+</h3>
			<h3> </h3>
		</button>
	</form>
	{% for ingrediente in INGREDIENTES %}
		<a href="/menu/componentes/{{ ingrediente.id }}">
			<button class="opcion-container-button">
				<h3 class="opcion-tittle-h3">{{ ingrediente.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
	{% for adicional in ADICIONALES %}
		<a href="/menu/componentes/{{ adicional.id }}">
			<button class="opcion-container-button">
				<h3 class="opcion-tittle-h3">{{ adicional.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
</div>