{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu/menu.css' %}">
<div class="title-container">
	{% if TIPO == "Ingrediente" %}
		<h1 class="title-h1">Ingredientes</h1>
	{% elif TIPO == "Adicional" %}
		<h1 class="title-h1">Adicionales</h1>
	{% elif TIPO == "Bebida" %}
		<h1 class="title-h1">Bebidas</h1>
	{% endif %}
</div>
<div class="opcion-wrapper">
	<a href="/menu/componentes/nuevo_componente/{{ TIPO }}">
		<button class="opcion-container-button agregar-btn">
			<h3 class="opcion-tittle-h3">Nuevo</h3>
		</button>
	</a>
	{% for ingrediente in INGREDIENTE %}
		<a href="/menu/componentes/{{ TIPO }}/{{ ingrediente.id }}">
			<button class="opcion-container-button" style="background-image: url('{{ ingrediente.img_url.url }}'); background-size: contain;">
				<h3 class="opcion-tittle-h3">{{ ingrediente.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
	{% for adicional in ADICIONAL %}
		<a href="/menu/componentes/{{ TIPO }}/{{ adicional.id }}">
			<button class="opcion-container-button" style="background-image: url('{{ adicional.img_url.url }}'); background-size: contain;">
				<h3 class="opcion-tittle-h3">{{ adicional.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
	{% for bebida in BEBIDA %}
		<a href="/menu/componentes/{{ TIPO }}/{{ bebida.id }}">
			<button class="opcion-container-button" style="background-image: url('{{ bebida.img_url.url }}'); background-size: contain;">
				<h3 class="opcion-tittle-h3">{{ bebida.nombre }}</h3>
			</button>
		</a>
	{% endfor %}
</div>