{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/General/formulario.css' %}">
<div class="title-container">
	<h1 class="title-h1">Crear</h1>
	<small>{{ MENSAJE }}</small>
</div>
<div class="wrapper">
	<form action="" method="POST" id="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="input-main-container">
			<div class="input-container">
				<h4>Nombre</h4>
				<input type="text" class="form-control input" name="NOMBRE">
			</div>
			<div class="input-container">
				<h4>Descripción</h4>
				<textarea class="form-control input" name="DESCRIPCION" row="3"></textarea>
			</div>
			<div class="input-container">
				<h4>Costo</h4>
				<input type="number" class="form-control input" name="COSTO">
			</div>
			<div class="input-container">
				<h4>Imagen</h4>
				<input type="file" class="form-control input" name="IMAGEN">
			</div>
			<div class="input-container">
				<h4>Fecha Inicio</h4>
				<input type="date" class="form-control input" name="FECHA_INICIO">
			</div>
			<div class="input-container">
				<h4>Fecha Fin</h4>
				<input type="date" class="form-control input" name="FECHA_FIN">
			</div>
		</div>
		<div class="input-main-container" style="margin-top: 30px;">
			<div class="input-container" style="padding-bottom: 20px; border-bottom: 2px solid gray;">
				<div class="subtitle-anadir-container">
					<h4>Pizzas</h4>
					<button class="btn btn-primary" type="button" onclick="agregarBloque('PIZZA')">+</button>
				</div>
				<div id="pizza-select-contianer">
					<select class="form-control input pizza-select" name="PIZZAS[]" id="pizza-select"  style="margin-bottom: 10px;">
						<option value="">Seleccione una pizza</option>
						{% for pizza in PIZZAS %}
							<option value="{{ pizza.id }}">{{ pizza.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="input-container" style="padding-bottom: 20px; border-bottom: 2px solid gray;">
				<div class="subtitle-anadir-container">
					<h4>Adicionales</h4>
					<button class="btn btn-primary" type="button" onclick="agregarBloque('ADICIONAL')">+</button>
				</div>
				<div id="adicional-select-contianer">
					<select class="form-control input adicional-select" name="ADICIONALES[]" id="adicional-select" style="margin-bottom: 10px;">
						<option value="">Seleccione un adicional</option>
						{% for adicional in ADICIONALES %}
							<option value="{{ adicional.id }}">{{ adicional.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="input-container" style="padding-bottom: 20px; border-bottom: 2px solid gray;">
				<div class="subtitle-anadir-container">
					<h4>Bebidas</h4>
					<button class="btn btn-primary" type="button" onclick="agregarBloque('BEBIDA')">+</button>
				</div>
				<div id="bebida-select-contianer">
					<select class="form-control input bebida-select" name="BEBIDAS[]" id="bebida-select"  style="margin-bottom: 10px;">
						<option value="">Seleccione una bebida</option>
						{% for bebida in BEBIDAS %}
							<option value="{{ bebida.id }}">{{ bebida.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="btn-container">
				<button type="button" class="btn btn-formulario" id="limpiarCampos-btn">Limpiar Campos</button>
				<button type="button" class="btn btn-formulario btn-guardar" id="guardar-btn">Guardar</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="{% static 'js/Formulario/formulario.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Combo/crear_combo.js' %}"></script>
