{% load static %}
{% include 'General/header.html' %}
{% include 'General/navbar.html' %}
{% include 'General/subbarra.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Pedido/pedido.css' %}">
<div>
	<div class="title-container">
		<h2 class="title-h2">Nuevos</h2>
	</div>
	<div class="pedidos-wrapper">
		{% if PEDIDOS_NUEVOS %}
			{% for pedido in PEDIDOS_NUEVOS %}
			<a href="/menu/pedidos/{{ pedido.id }}">
				<div class="pedidos-container">
					<h5>{{ pedido.carrito.usuario.username }}</h5>
					<h5 style="margin-left: 20px;">{{ pedido.fecha|time:"H:i" }} | {{ pedido.fecha|date:"d/m/Y" }} </h5>
				</div>
			</a>
			{% endfor %}
		{% else %}
			<h4>** No hay pedidos nuevos por el momento **</h4>
		{% endif %}
	</div>
	<div class="title-container" style="margin-top: 30px;">
		<h2 class="title-h2">Despachados</h2>
	</div>
	<div class="pedidos-wrapper">
		{% if PEDIDOS_DESPACHADOS %}
			{% for pedido in PEDIDOS_DESPACHADOS %}
			<a href="/menu/pedidos/{{ pedido.id }}">
				<div class="pedidos-container">
					<h5>{{ pedido.carrito.usuario.username }}</h5>
					<h5 style="margin-left: 20px;">{{ pedido.fecha|time:"H:i" }} | {{ pedido.fecha|date:"d/m/Y" }}</h5>
				</div>
			</a>
			{% endfor %}
		{% else %}
			<h4>** No hay pedidos despachados por el momento **</h4>
		{% endif %}
	</div>
</div>